<!DOCTYPE html>
<html lang="zh-CN">
    <%- partial('_partial/header') %>
    <body>
        <% if(theme.toolbox && theme.toolbox.isShow == true && page.base !== '') { %>
        <span id="toolbox-mobile" class="toolbox-mobile"><%=  theme.toolbox.text %></span>
        <% } %>
        <div id="app">
            <%- partial("_partial/navigation") %>
            <%- body %>
            <%- partial("component/back-to-up") %>
        </div>
        <% if(theme.mathjax){ %>
        <%- partial("_partial/mathjax") %>
        <% } %>
    </body>
</html>
