<% if (page.type === "tags"){ %>
<div class="container tag-index">
  <div>
    <h3>
      共计 <%- site.tags.length %> 个标签
    </h3>
    <%- list_tags({orderby: "length", order: -1}) %>
  </div>
</div>
<% } %>

<% if (page.type === "categories"){ %>
<div class="container category-index">
  <div>
    <h3>
      共计 <%- site.categories.length %> 个分类
    </h3>
    <%- list_categories({orderby: "length", order: -1}) %>
  </div>
</div>
<% } %>

<% if (page.type === "friends"){ %>
<div class="container friend-index">
  <div class="friend-navigation">
    <% for(let friend of theme.friends){ %>
    <div class="card">
      <img src="<%- friend.avatar %>"/>
      <p class="card-header">
        @ <a href="<%- friend.site %>" target="_blank"><%- friend.nickname %></a>
      </p>
      <p class="card-meta">
        <%- friend.meta %>
      </p>
    </div>
    <% } %>
  </div>
  <div class="markdown-body">
    <%- page.content %>
  </div>
  <% if(theme.leancloud.comment){ %>
    <%- partial("_partial/comment") %>
  <% } %> 

</div>
<% } %>

<% if(page.type === "about"){ %>
  <div class="container about-index">
    <div class="markdown-body">
      <%- page.content %>
    </div>
    
    <% if(theme.leancloud.comment){ %>
      <%- partial("_partial/comment") %>
    <% } %> 
  </div>
<% } %>

<% if (!page.type) { %>
<div class="container post-index">

  <%- partial('/component/passage-viewer') %>

  <nav class="post-navigation">
    <% if(page.next){ %>
      <div class="nav-pre">
        <i class="iconfont icon-prev"></i>
        上一篇:
        <a href="<%= url_for(page.next.path)%>" target="_self"><%- page.next.title %></a>
      </div>
    <% } %>
    <% if(page.prev){ %>
      <div class="nav-next">
        下一篇:
        <a href="<%= url_for(page.prev.path)%>" target="_self"><%- page.prev.title %></a>
        <i class="iconfont icon-next"></i>
      </div>
    <% } %>
  </nav>

  <% if(theme.leancloud.comment){ %>
    <%- partial("_partial/comment") %>
  <% } %> 

  <% if(theme.leancloud.timer){ %>
    <%- partial("_partial/timer") %>
  <% } %> 

</div>
<% } %>