<%
const getRealPath = pathname => {
  if(!pathname) {
    pathname = window.location.pathname
  }
  let names = pathname.split("/")
  for(let i = names.length - 1; i >= 0; --i) {
    let name = names[i].trim()
    if(name.length > 0 && name !== "/" && name !== "index.html") {
      return name
    }
  }
  return "/"
}
%>

<div class="post">
  <h1 class="article-title">
    <span><%- page.title %></span>
  </h1>
  <div class="article-top-meta">
    <span>
      发布 : 
      <%- page.date.format("YYYY-MM-DD") %>
    </span>
    <span>
      分类 : 
        <% if(page.categories && page.categories.length > 0) { %>
          <a href="<%= url_for(page.categories.data[0].path)%>">
            <%- page.categories.data[0].name %>
          </a>
        <% } %>
    </span>
    <% if(theme.leancloud.timer){ %>
      <span>
        浏览 : <span class="article-timer" data-identity="<%- getRealPath(page.path) %>"></span>
      </span>
    <% } %>
  </div>
  <div class="article-content">
    <div class="markdown-body">
      <%- page.more %>
    </div>
  </div>
  <div class="copy-right">
    <div class="markdown-body">
      <blockquote>
      <p>本文作者：董沅鑫<br>
      本文链接： <a href="<% url_for(page.path)%>"><%- page.permalink %></a><br>
      版权声明： 本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 许可协议。转载请注明出处！</p>
      </blockquote>
    </div>
  </div>
  <div class="article-footer">
    <div class="article-meta pull-left">
      <span>
        <i class="iconfont icon-06tags"></i>标签: 
        <% if(page.tags && page.tags.length > 0){ %>
          <% for(let item of page.tags.data){ %>
          <span class="span--tag">
            <a href="<%= url_for(item.path)%>">
              #<%- item.name %>
            </a>
          </span>
          <% } %>
        <% } %>
      </span>
    </div>
    <div class="article-meta pull-right">
    </div>
  </div>
</div>


<% if(theme.toc){ %>
  <script async> setTimeout(generateToc, 10);</script>
<% } %>