<div id="reward">
  <% if(theme.reward.meta){ %>
    <p id="reward-meta"><%- theme.reward.meta %></p>
  <% } %>
  <button id="reward-btn">
    <% let button_meta = theme.reward.button_meta || '赞赏' %>
    <span><%- theme.reward.button_meta || '赞赏' %></span>
  </button>
  <div id="reward-qrcode">
    <% for(let qrcode of theme.reward.qrcodes){ %>
      <div class="reward-qrcode--container">
        <img class="qrcode-img" src="<%- qrcode.src %>" alt="<%- qrcode.meta %>">
        <p class="qrcode-meta"><%- qrcode.meta %></p>
      </div>
    <% } %>
  </div>

</div>

<script>
  (() => {
    let button = document.querySelector('#reward-btn'),
      qrcode = document.querySelector('#reward-qrcode'),
      display = false;
    
    button.addEventListener('click', () => {
      qrcode.style.display = display ? 'none' : 'block'
      display = !display
    }, false)
  })()
</script>